@font-face {
    font-family: "Type Machine";
    src: url("../font/type-machine.ttf");
}
@font-face {
    font-family: "Inter Regular";
    src: url("../font/Inter-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Inter Bold";
    src: url("../font/Inter-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Inter Italic";
    src: url("../font/Inter-Italic.ttf");
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

$primary-jaune: #FFFBDC;

$section-mt: 7.5rem;
$section-mb: 7.5rem;
$container-maxWidth: 1100px;

$small-text-size: 1.1rem;
$small-text-font: "Inter Regular";
$bold-text:  "Inter Bold";
$italic-text: "Inter Italic";



  