header {
    nav {
        background-color: $primary-jaune;
        height: 150px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 1px 15px 0px rgba(52, 52, 52, 0.259);
        .logo {
            width: 100px;
            height: 100px;
            transition: all .2s ease-in-out;

            &:hover {
                scale: 0.9;
            }
        }

    }
}