header {
    nav {
        background-color: $primary-jaune;
        height: 150px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .logo {
            width: 100px;
            height: 100px;
        }

        

    }
    
    .sidebar {
        z-index: 10;
        width: 70px;
        height: 300px;
        background-color: rgba(0, 0, 0, 0.081);
        position: fixed;
        top: 40%;
        border-radius: 0 10px 10px 0;
        display: grid;
        place-items: center;

        .dash-switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            input {
                opacity: 0;
                width: 0;
                height: 0;
            }
            .slider {
                border-radius: 34px;
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s;
                &:before {
                    position: absolute;
                    border-radius: 50%;
                    content: "";
                    height: 26px;
                    width: 26px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                }
            }
        }
        .dash-switch-checkbox {
            &:checked {
                & + .slider {
                    background-color: #2196F3;
                    &:before {
                        -webkit-transform: translateX(26px);
                        -ms-transform: translateX(26px);
                        transform: translateX(26px);
                    }
                }
            }
            &:focus {
                & + .slider {
                    box-shadow: 0 0 1px #2196F3;
                }
            }
        }
        .lang-switch {
            position: relative;
            top: 2rem;
            display: inline-block;
            width: 60px;
            height: 34px;
            input {
                opacity: 0;
                width: 0;
                height: 0;
            }
            .slider {
                border-radius: 34px;
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #000;
                -webkit-transition: .4s;
                transition: .4s;
                &:before {
                    position: absolute;
                    border-radius: 50%;
                    content: "";
                    height: 26px;
                    width: 26px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                }
            }
        }
        .lang-checkbox {
            &:checked {
                & + .slider {
                    &:before {
                        -webkit-transform: translateX(26px);
                        -ms-transform: translateX(26px);
                        transform: translateX(26px);
                    }
                }
            }
        }

    }
}